@charset "UTF-8";
html, body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, input, b {
  margin: 0;
  padding: 0; }

ul, li, ol, dl {
  list-style: none; }

img {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

a {
  color: black; }

/*清除input自带边框*/
/*头部*/
#top {
  width: 1260px;
  margin: 0 auto;
  position: relative;
  height: 30px;
  background: #f5f5f5; }
  #top .oul li {
    float: left;
    margin-left: 30px; }
    #top .oul li span {
      color: blue;
      font: 12px/30px "微软雅黑"; }
    #top .oul li em {
      font: 12px/30px "微软雅黑"; }
    #top .oul li a {
      font: 12px/30px "微软雅黑"; }
    #top .oul li span:hover {
      color: #CC0000; }
    #top .oul li a:hover {
      text-decoration: underline;
      color: #CC0000; }
  #top ul li:nth-of-type(4) {
    margin-left: 310px; }
  #top ul li:nth-of-type(7) {
    margin-right: 30px; }
  #top ul li:nth-of-type(5) {
    position: relative; }
    #top ul li:nth-of-type(5) .maijia {
      z-index: 2;
      display: none;
      position: absolute; }
      #top ul li:nth-of-type(5) .maijia li {
        float: none;
        margin-left: 0;
        width: 80px;
        font: 12px/20px "微软雅黑";
        cursor: pointer; }
        #top ul li:nth-of-type(5) .maijia li a {
          font: 12px/20px "微软雅黑"; }
  #top .oul li:nth-of-type(5):hover .maijia {
    display: block;
    color: #CC0000; }
  #top .shouji {
    position: absolute;
    left: 985px;
    top: 7px; }
  #top .gang {
    position: absolute;
    left: 960px;
    top: 10px; }
  #top .shangcheng {
    position: absolute;
    left: 967px;
    top: 30px;
    z-index: 2;
    display: none; }
  #top .dianhua {
    position: absolute;
    left: 1150px;
    top: 29px;
    display: none;
    z-index: 2; }
  #top ul .list:hover .shangcheng {
    display: block; }
  #top ul .list2:hover .dianhua {
    display: block; }

#header {
  width: 960px;
  height: 120px;
  margin: 0 auto;
  background: url(../img/gouwushangcheng.jpg) no-repeat 0 0;
  padding-left: 440px;
  padding-top: 32px;
  box-sizing: border-box; }
  #header ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background: #CECECE; }
    #header ul li a {
      display: block;
      font: 14px/40px "微软雅黑"; }
  #header ul li:first-of-type {
    background: #e02d2d; }
    #header ul li:first-of-type a {
      color: white; }

#nav {
  position: relative;
  width: 960px;
  height: 85px;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box; }
  #nav #qingkong {
    position: absolute;
    left: 10px;
    top: 30px;
    color: crimson; }
  #nav p {
    float: right;
    font: 14px/30px "微软雅黑"; }
    #nav p span {
      font: 16px/30px "微软雅黑";
      color: red;
      margin-left: 3px;
      margin-right: 3px; }
  #nav input {
    cursor: pointer;
    float: right;
    width: 70px;
    height: 30px;
    background: #faab00;
    border: none;
    border-radius: 5px;
    margin-left: 5px; }

#aside {
  margin: 0 auto;
  width: 960px;
  height: 37px;
  background: #f5f5f5;
  border-top: 1px solid #e02d2d;
  box-sizing: border-box; }
  #aside p span {
    display: block;
    float: left;
    font: 16px/37px;
    margin-left: 50px; }
  #aside p span:nth-of-type(1) {
    margin-left: 85px; }
  #aside p span:nth-of-type(2) {
    margin-left: 135px; }
  #aside p span:nth-of-type(3) {
    margin-left: 85px; }
  #aside p span:nth-of-type(4) {
    margin-left: 111px; }
  #aside p span:nth-of-type(5) {
    margin-left: 245px; }

#gouwu {
  width: 960px;
  height: 150px;
  margin: 0 auto; }
  #gouwu img {
    margin-left: 60px;
    display: block;
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 60px; }
  #gouwu span {
    display: block;
    margin-top: 50px;
    float: left;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px; }
  #gouwu span:nth-of-type(2) {
    color: red;
    font-size: 16px; }
  #gouwu .del {
    cursor: pointer; }
  #gouwu em {
    cursor: pointer;
    float: left;
    text-align: center;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #CECECE;
    margin-left: 5px;
    margin-right: 5px; }
  #gouwu em:last-of-type {
    margin-right: 150px; }
  #gouwu input {
    margin-top: -2px;
    text-align: center;
    float: left;
    height: 25px;
    width: 50px;
    border: 1px solid #CECECE; }

#bottom {
  cursor: pointer;
  width: 960px;
  height: 100px;
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box; }

#xihuan {
  width: 960px;
  height: 242px;
  margin: 0 auto; }
  #xihuan h2 {
    width: 130px;
    height: 35px;
    font: 14px/35px "微软雅黑";
    text-align: center;
    border-top: 2px solid red; }
  #xihuan img {
    cursor: pointer;
    width: 150px;
    height: 170px;
    float: left;
    margin-left: 30px; }

#footer {
  border-top: 1px solid #CECECE;
  height: 145px;
  width: 960px;
  margin: 0 auto; }
  #footer ul {
    margin-top: 25px; }
    #footer ul li {
      float: left;
      border-right: 1px solid #CECECE; }
      #footer ul li a {
        display: block;
        margin-right: 12px;
        margin-left: 12px;
        font: 14px/14px "微软雅黑";
        color: blue; }
      #footer ul li a:hover {
        color: crimson; }
    #footer ul li:first-of-type {
      margin-left: 245px; }
    #footer ul li:last-of-type {
      border: none; }
  #footer p {
    clear: both;
    font: 14px/50px "微软雅黑";
    color: black;
    text-align: center; }
  #footer div img {
    cursor: pointer;
    float: left;
    margin-left: 10px; }
  #footer div img:first-of-type {
    margin-left: 300px; }

/*# sourceMappingURL=cart2.css.map */
