@charset "UTF-8";
html, body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, input, b {
  margin: 0;
  padding: 0; }

ul, li, ol, dl {
  list-style: none; }

img {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

a {
  color: black; }

/*清除input自带边框*/
#top {
  width: 1260px;
  margin: 0 auto;
  position: relative;
  height: 30px;
  background: #f5f5f5; }
  #top .oul li {
    float: left;
    margin-left: 30px; }
    #top .oul li span {
      color: blue;
      font: 12px/30px "微软雅黑"; }
    #top .oul li em {
      font: 12px/30px "微软雅黑"; }
    #top .oul li a {
      font: 12px/30px "微软雅黑"; }
    #top .oul li span:hover {
      color: #CC0000; }
    #top .oul li a:hover {
      text-decoration: underline;
      color: #CC0000; }
  #top ul li:nth-of-type(4) {
    margin-left: 310px; }
  #top ul li:nth-of-type(7) {
    margin-right: 30px; }
  #top ul li:nth-of-type(5) {
    position: relative; }
    #top ul li:nth-of-type(5) .maijia {
      z-index: 2;
      display: none;
      position: absolute; }
      #top ul li:nth-of-type(5) .maijia li {
        float: none;
        margin-left: 0;
        width: 80px;
        font: 12px/20px "微软雅黑";
        cursor: pointer; }
        #top ul li:nth-of-type(5) .maijia li a {
          font: 12px/20px "微软雅黑"; }
  #top .oul li:nth-of-type(5):hover .maijia {
    display: block;
    color: #CC0000; }
  #top .shouji {
    position: absolute;
    left: 985px;
    top: 7px; }
  #top .gang {
    position: absolute;
    left: 960px;
    top: 10px; }
  #top .shangcheng {
    position: absolute;
    left: 967px;
    top: 30px;
    z-index: 2;
    display: none; }
  #top .dianhua {
    position: absolute;
    left: 1150px;
    top: 29px;
    display: none;
    z-index: 2; }
  #top ul .list:hover .shangcheng {
    display: block; }
  #top ul .list2:hover .dianhua {
    display: block; }

#header {
  width: 1260px;
  margin: 0 auto;
  padding-left: 190px;
  padding-top: 37px;
  box-sizing: border-box;
  position: relative;
  height: 120px; }
  #header a img {
    position: absolute;
    left: 38px;
    top: 32px; }
  #header #btn2 {
    margin-left: 70px;
    box-sizing: border-box;
    width: 463px;
    height: 36px;
    border: 2px solid red;
    font: 14px/36px "微软雅黑";
    color: #CECECE;
    border-right: 0; }
  #header em {
    display: inline-block;
    width: 68px;
    height: 28px;
    border: 1px solid #CECECE;
    font: 16px/28px "微软雅黑";
    color: black;
    text-align: left;
    margin-left: 18px;
    background: white;
    cursor: pointer; }
    #header em ul li:nth-of-type(4) a:first-of-type {
      background: red; }
  #header #btn1 {
    height: 36px;
    width: 77px;
    background: red;
    font: 14px/36px "微软雅黑";
    color: white;
    border: 0;
    margin-left: 0;
    cursor: pointer; }
  #header .sanxing {
    position: absolute;
    width: 70px;
    height: 18px;
    font: 11px/18px "微软雅黑";
    color: #333;
    background: #eeeeee;
    left: 711px;
    top: 47px;
    text-align: center;
    cursor: pointer; }
  #header span {
    position: absolute;
    width: 110px;
    height: 18px;
    font: 11px/18px "微软雅黑";
    color: #333;
    background: #eeeeee;
    left: 590px;
    top: 47px;
    text-align: center;
    cursor: pointer; }
  #header p:hover {
    background: red; }
  #header span:hover {
    background: red; }
  #header .liebiao {
    position: absolute;
    width: 350px;
    height: 40px;
    left: 910px;
    top: 35px;
    font: 16px/40px "微软雅黑";
    background: white; }
    #header .liebiao a {
      margin-left: 20px; }
    #header .liebiao a:hover {
      color: red; }
  #header .liebiao:hover {
    background: white; }
  #header ul {
    display: none;
    background: white;
    position: absolute;
    left: 205px; }
    #header ul a {
      margin-right: 20px;
      font: 12px/30px "微软雅黑"; }
    #header ul a:hover {
      color: crimson; }
  #header em:hover ul {
    display: block;
    z-index: 2; }

#nav {
  overflow: hidden;
  width: 1260px;
  margin: 0 auto;
  height: 40px;
  padding-left: 40px;
  box-sizing: border-box; }
  #nav ul li {
    float: left; }
    #nav ul li em {
      margin-left: 10px; }
    #nav ul li a {
      font: 18px/40px "微软雅黑";
      padding-left: 25px;
      padding-right: 25px; }
    #nav ul li a:hover {
      color: crimson; }
  #nav ul li:first-of-type {
    background: red; }
    #nav ul li:first-of-type a {
      padding-right: 37px;
      color: white; }

#fenlei {
  padding-left: 40px;
  box-sizing: border-box;
  width: 1260px;
  margin: 0 auto; }
  #fenlei p a {
    font: 14px/30px "微软雅黑";
    margin-left: 20px; }
  #fenlei p a:hover {
    color: crimson;
    text-decoration: underline; }
  #fenlei p a:first-of-type {
    margin-left: 0; }

#section {
  padding-left: 40px;
  box-sizing: border-box;
  width: 1260px;
  margin: 0 auto;
  height: 580px; }
  #section .zuo {
    float: left;
    width: 420px;
    height: 580px; }
    #section .zuo #detailbox {
      position: relative;
      width: 420px;
      height: 420px; }
      #section .zuo #detailbox #imgZoom {
        height: 420px;
        width: 420px;
        position: relative; }
        #section .zuo #detailbox #imgZoom .zoom {
          position: absolute;
          width: 210px;
          height: 210px;
          background: yellow;
          opacity: 0.5;
          top: 0;
          left: 0;
          display: none; }
      #section .zuo #detailbox img {
        width: 420px;
        height: 420px; }
      #section .zuo #detailbox .xiaozoom {
        border: 2px solid red;
        width: 66px;
        height: 66px;
        position: absolute;
        top: 460px;
        left: 30px; }
      #section .zuo #detailbox #bigZoom {
        display: none;
        position: absolute;
        width: 420px;
        height: 420px;
        left: 420px;
        top: -420px;
        position: relative;
        overflow: hidden; }
        #section .zuo #detailbox #bigZoom img {
          position: absolute;
          width: 840px;
          height: 840px;
          left: 0;
          top: 0;
          z-index: 3;
          display: none; }
    #section .zuo .xia {
      padding-top: 20px;
      padding-left: 20px;
      width: 420px;
      height: 150px; }
      #section .zuo .xia p a {
        font: 13px/20px "微软雅黑";
        margin-left: 10px; }
  #section .zhong {
    float: left;
    width: 420px;
    height: 580px; }
    #section .zhong .shang {
      padding-left: 33px;
      padding-top: 63px;
      box-sizing: border-box;
      width: 420px;
      height: 420px; }
      #section .zhong .shang .jiage {
        background: url(../img/quan.jpg) no-repeat 50px 50px;
        padding-top: 10px;
        padding-left: 10px;
        box-sizing: border-box;
        width: 400px;
        height: 80px;
        background-color: #f7f7f7; }
        #section .zhong .shang .jiage p {
          font: 10px/20px "微软雅黑";
          margin-bottom: 18px; }
      #section .zhong .shang .peisong span:first-of-type {
        cursor: pointer;
        display: inline-block;
        font: 12px/18px "微软雅黑";
        padding-left: 5px;
        padding-right: 5px;
        border: 1px solid #CECECE;
        color: black;
        margin-right: 10px; }
      #section .zhong .shang .peisong span:nth-of-type(2) {
        margin-left: 10px;
        font-weight: bold;
        margin-right: 10px; }
      #section .zhong .shang .peisong a {
        text-decoration: underline;
        color: blue; }
      #section .zhong .shang .peisong a:hover {
        color: crimson; }
      #section .zhong .shang .pingjia span {
        color: red;
        margin-right: 30px;
        margin-left: 5px; }
      #section .zhong .shang p:nth-of-type(3) a {
        text-decoration: underline;
        color: blue; }
      #section .zhong .shang p:nth-of-type(3) a:hover {
        color: crimson; }
      #section .zhong .shang img {
        cursor: pointer;
        margin-left: 50px; }
      #section .zhong .shang p:nth-of-type(4) span {
        cursor: pointer;
        display: inline-block;
        font: 12px/20px "微软雅黑";
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid red;
        margin-right: 5px; }
      #section .zhong .shang p:nth-of-type(4) span:last-of-type {
        cursor: pointer;
        border: 2px solid #CECECE; }
      #section .zhong .shang p:nth-of-type(5) span {
        cursor: pointer;
        display: inline-block;
        font: 12px/20px "微软雅黑";
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid red;
        margin-right: 5px;
        margin-left: 13px; }
      #section .zhong .shang p {
        font: 14px/40px "微软雅黑"; }
      #section .zhong .shang .biaopei {
        margin-top: 20px;
        width: 402px;
        height: 35px;
        background: #fafafa;
        margin-left: 73px; }
    #section .zhong .xia {
      width: 420px;
      height: 150px; }
  #section .you {
    border: 1px solid #CECECE;
    border-bottom: none;
    box-sizing: border-box;
    margin-left: 140px;
    float: left;
    width: 230px;
    height: 580px; }
    #section .you h3 {
      font: 18px/70px "微软雅黑";
      text-align: center;
      border-bottom: 1px solid #CECECE; }
    #section .you p {
      font: 14px/35px "微软雅黑";
      margin-left: 10px;
      color: #999999; }
      #section .you p span {
        color: red;
        margin-right: 10px; }
      #section .you p a {
        font: 14px/16px "微软雅黑";
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 3px; }
    #section .you p:last-of-type {
      margin-top: 20px; }
      #section .you p:last-of-type a {
        display: block;
        float: left;
        padding: 10px;
        border: 1px solid #CECECE;
        background: #fafafa; }
      #section .you p:last-of-type a:hover {
        color: crimson; }
  #section #attrshow {
    position: absolute;
    left: 500px;
    top: 28px; }
    #section #attrshow p:first-of-type {
      font: 20px/30px "微软雅黑"; }
    #section #attrshow p:last-of-type {
      font: 22px/50px "微软雅黑";
      color: red; }
  #section #btnshow {
    position: absolute;
    left: 460px;
    top: 400px;
    width: 420px;
    height: 176px; }
    #section #btnshow p:first-of-type {
      height: 32px;
      margin-bottom: 32px; }
      #section #btnshow p:first-of-type em {
        display: block;
        float: left;
        font: 12px/32px "微软雅黑";
        text-align: center;
        margin-right: 10px;
        margin-left: 10px; }
      #section #btnshow p:first-of-type span {
        cursor: pointer;
        display: block;
        float: left;
        font: 20px/30px "微软雅黑";
        text-align: center; }
      #section #btnshow p:first-of-type .minus {
        float: left;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #CECECE;
        border: 1px solid #CECECE; }
      #section #btnshow p:first-of-type .add {
        float: left;
        display: inline-block;
        width: 30px;
        height: 30px;
        background: #CECECE;
        border: 1px solid #CECECE; }
      #section #btnshow p:first-of-type #snum {
        text-align: center;
        float: left;
        display: inline-block;
        width: 45px;
        height: 30px;
        border: 1px solid #CECECE; }
    #section #btnshow p:last-of-type {
      height: 60px; }
    #section #btnshow #btn1 {
      cursor: pointer;
      display: block;
      float: left;
      border: 0;
      width: 140px;
      height: 50px;
      background: red;
      margin-right: 10px;
      color: white; }
    #section #btnshow #btn {
      cursor: pointer;
      display: block;
      border: 0;
      float: left;
      width: 140px;
      height: 50px;
      background: #ffeded;
      color: crimson; }

#dianpu {
  height: 34px;
  width: 1220px;
  margin-left: 40px;
  box-sizing: border-box;
  background: #CECECE; }
  #dianpu h4 {
    font: 14px/34px "微软雅黑";
    text-align: left; }

#xiatupian {
  overflow: hidden;
  width: 1220px;
  margin-left: 40px;
  border: 1px solid #ECECEC;
  padding: 30px;
  box-sizing: border-box; }
  #xiatupian img {
    float: left;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px; }

#zuixia {
  overflow: hidden;
  width: 1220px;
  margin-left: 40px;
  border: 1px solid #ECECEC;
  padding: 30px;
  box-sizing: border-box; }
  #zuixia img {
    margin: 0 auto; }

#bottom {
  width: 1260px;
  margin: 0 auto;
  position: relative;
  height: 180px;
  box-sizing: border-box;
  background: #f7f7f7;
  padding-top: 20px;
  padding-left: 40px; }
  #bottom ul {
    margin-left: 125px;
    float: left; }
    #bottom ul li {
      font: 12px/25px "微软雅黑";
      color: #666666; }
    #bottom ul li:first-of-type {
      font-weight: bold; }
  #bottom ul:first-of-type {
    margin-left: 0; }
  #bottom ul:nth-of-type(5) {
    margin-left: 165px; }
  #bottom ul:nth-of-type(6) {
    margin-left: 165px; }
  #bottom img {
    position: absolute;
    left: 745px;
    top: 22px; }
  #bottom img:last-of-type {
    position: absolute;
    left: 985px;
    top: 22px; }
  #bottom #chakan {
    position: absolute;
    left: 1095px;
    top: 110px;
    width: 80px;
    height: 26px;
    font: 14px/26px "微软雅黑";
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: red; }

#footer {
  width: 1260px;
  margin: 0 auto;
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  height: 175px;
  background: #2d2d2d; }
  #footer .ul1 li {
    float: left;
    padding-top: 0;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #546654; }
    #footer .ul1 li a {
      display: block;
      font: 12px/12px "微软雅黑";
      color: white; }
    #footer .ul1 li a:hover {
      text-decoration: underline; }
  #footer .ul1 li:first-of-type {
    margin-left: 0; }
  #footer .ul1 li:last-of-type {
    margin-left: 540px;
    border: 0; }
  #footer .ul1 li:nth-of-type(6) {
    border: 0; }
  #footer .ul2 {
    margin-top: 35px;
    clear: both;
    margin-bottom: 35px; }
    #footer .ul2 li {
      float: left;
      margin-top: 20px;
      padding-right: 15px;
      padding-left: 15px;
      border-right: 1px solid #546654; }
      #footer .ul2 li a {
        display: block;
        font: 12px/12px "微软雅黑";
        color: #999999; }
      #footer .ul2 li a:hover {
        text-decoration: underline; }
    #footer .ul2 li:first-of-type {
      margin-left: 0; }
  #footer .ul3 {
    height: 12px;
    margin-top: 100px;
    padding-left: 14px; }
    #footer .ul3 li {
      float: left; }
      #footer .ul3 li span {
        display: block;
        font: 12px/12px "微软雅黑";
        color: #999999; }
      #footer .ul3 li a {
        display: block;
        font: 12px/12px "微软雅黑";
        color: #999999;
        margin-left: 10px;
        margin-right: 10px; }
      #footer .ul3 li a:hover {
        text-decoration: underline; }
  #footer img:first-of-type {
    position: absolute;
    left: 960px;
    top: 26px; }
  #footer img:nth-of-type(2) {
    position: absolute;
    left: 1105px;
    top: 26px; }
  #footer img:last-of-type {
    position: absolute;
    left: 1135px;
    top: 26px; }
  #footer .guanggao {
    position: absolute;
    width: 40px;
    height: 18px;
    left: 1190px;
    top: 144px;
    background: #666666; }
    #footer .guanggao p {
      font: 14px/18px "微软雅黑";
      text-align: center;
      color: white; }

#huakuai {
  position: fixed;
  right: 0;
  top: 0;
  height: 800px;
  width: 37px;
  background: #2d2d2d; }
  #huakuai div {
    cursor: pointer;
    position: relative;
    width: 37px;
    height: 37px;
    margin-top: 20px; }
    #huakuai div img {
      position: absolute;
      top: 0;
      left: 0; }
    #huakuai div img:last-child {
      display: none; }
  #huakuai div:first-of-type {
    margin-top: 100px; }
  #huakuai div:last-of-type {
    margin-top: 350px; }

/*# sourceMappingURL=detail2.css.map */
