@charset "utf-8";
html,body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,input,b{margin:0; padding:0;}
ul,li,ol,dl{list-style:none;}
img{border:0;}
img{display:block;}
a{text-decoration:none;}
i,em{font-style: normal;}
b,strong{font-weight:normal;}
body{font-family:"微软雅黑";}
input,a{outline:none;}
a{color: black;}/*清除input自带边框*/ 
#top,#header,#nav,#shouye,#pinpai,#gengduo,#fuwu,#moren,#section,#huodong,#aside,#sousuo,#bottom,#footer{
    width: 1260px;
    margin: 0 auto;
}
#top{
    position: relative;
    height: 30px;
    background: #f5f5f5;
    .oul li{
        float: left;
        margin-left: 30px;
        span{
            color: blue;
            font:12px/30px "微软雅黑";
        }
        em{
            font:12px/30px "微软雅黑"; 
        }
        a{
            font:12px/30px "微软雅黑";
        }
        span:hover{
            color: #CC0000;
        }
        a:hover{
            text-decoration: underline;
            color: #CC0000;
        }
    }
    ul li:nth-of-type(4){
        margin-left: 310px;
    }
    ul li:nth-of-type(7){
        margin-right: 30px;
    }
    ul li:nth-of-type(5){
        position: relative;
        .maijia{
            z-index: 2;
            display: none;
            position: absolute;
            li{
                float: none;
                margin-left: 0;
                width: 80px;
                font:12px/20px "微软雅黑";
                cursor: pointer;
                a{
                    font:12px/20px "微软雅黑";
                }
            }
        }
    }
    .oul li:nth-of-type(5):hover .maijia{
        display: block;
        color: #CC0000;
    }
   
    .shouji{
        position: absolute;
        left: 985px;
        top:7px;
    }
    .gang{
        position: absolute;
        left:960px;
        top:10px;
    }
    .shangcheng{
        position: absolute;
        left: 967px;
        top:30px;
        z-index: 2;
        display: none;
    }
    .dianhua{
        position: absolute;
        left: 1150px;
        top:29px;
        display: none;
        z-index: 2;
    }
     ul{
        .list:hover .shangcheng{
            display: block;
        }
        .list2:hover .dianhua{
            display: block;
        }
    }
}
//top
#header{
    position: relative;
    height: 110px;
    img{
        position: absolute;
        left: 40px;
        top:0;
    }
}
#nav{
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
    background: #fafafa;
    height: 67px;
    img{
        position: absolute;
        left: 1080px;
        top:38px;
    }
    p{
        a{
            font:18px/20px "微软雅黑";
            margin-left: 80px;
        }
        a:first-child{
            margin-left:300px;
        }
        a:last-of-type{
            color: crimson;
        }
    }
    ul{ 
        padding-left: 300px;
        li{
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
        border-right: 1px solid #CECECE;
        a{
            font:14px/14px "微软雅黑";
        }
         } 
         .list a{
             color:red;
         }
         a:hover{
             color: chocolate;
             text-decoration: underline;
         }
    } 
   
}
#shouye{
    height: 67px;
    padding-left: 40px;
    box-sizing: border-box;
    ul{
        margin-top: 20px;
        li{
            margin-left: 20px;
            float: left;
            padding-left: 5px;
            padding-right: 5px;
            border: 1px solid #CECECE;
            a{
                font:14px/26px "微软雅黑";
            }
        }
    }
}
#pinpai{
    padding-left: 40px;
    box-sizing: border-box;
    height: 115px;
    span{
        margin-left: 50px;
        font:14px/40px "微软雅黑";
    }
    a{
        font:14px/40px "微软雅黑";
        margin-left: 30px;
    }
    a:hover{
        color: chocolate;
        text-decoration: underline;
    }
}
#gengduo{
    height: 27px;
    p{
        width: 120px;
        height: 27px;
        background: #CECECE;
        margin: 0 auto;
        text-align: center;
        cursor: pointer;
        font:16px/27px "微软雅黑";
    }
}
#fuwu{
    position: relative;
    padding-left: 40px;
    box-sizing: border-box;
    height: 68px;
    padding-top: 25px;
    p{
        font:16px/45px "微软雅黑";
        text-indent: 35px;
    }
    a{
        position: absolute;
        left: 200px;
        top:35px;
    }
}
#moren{
    height: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    ul{
        li{
            padding-left: 15px;
            padding-right: 15px;
            float: left;
            a{
                font:12px/40px "微软雅黑";
            }
             a:hover{
          color: chocolate;
          text-decoration: underline;
                }
                input{
                    margin-top: 13px;
                    width: 50px;
                    border: 1px solid #CECECE;
                }
        }
    }
}
#section{
    height: 825px;
    background: pink;
    .shujuhe1{
        float: left;
        width: 235px;
        height: 47%;
        cursor: pointer;
        .top{
            padding-top: 30px;
            width: 100%;
            height: 240px;
            box-sizing: border-box;
            img{
                display: block;
                margin: auto;
            }
        }
        .bottom{
            padding-left: 20px;
            box-sizing: border-box;
            p:nth-of-type(1){
                font:14px/20px "微软雅黑";
                margin-top: 15px;
            }
            p:nth-of-type(2){
                font:20px/30px "微软雅黑";
                color: red;
            }
            p:last-of-type{
                margin-top: 10px;
                font:12px/20px "微软雅黑";
                color: black;
            }
        }
    }
}
#huodong{
    height: 100px;
    padding-top: 50px;
    box-sizing: border-box;
    p{
        font:18px/40px "微软雅黑";
        text-align: center;
    }
}
#aside{
    height: 215px;
    padding-left: 40px;
    box-sizing: border-box;
    div{
        cursor: pointer;
        height: 100%;
        float: left;
        width: 22%;
        margin-left: 10px;
        background: url(../img/zhineng.jpg);
    }
    .box2{
        background: url(../img/huodong2.jpg);
    }
    .box3{
        background: url(../img/huodong3.jpg);
    }
    .box4{
        background: url(../img/huodong4.jpg);
    }
}
#sousuo{
    padding-top: 50px;
    padding-left: 300px;
    box-sizing: border-box;
    height: 135px;
    input{
        margin-left: 70px;
        box-sizing: border-box;
        width: 463px;
        height: 36px;
        border: 2px solid red;
        font:14px/36px "微软雅黑";
        color: #CECECE;
        border-right: 0;
    }
   input:last-child{
        height: 36px;
        width: 77px;
        background: red;
        font:14px/36px "微软雅黑";
        color: white;
        border: 0;
        margin-left: 0;
        cursor: pointer; 
    }
}
#bottom{
    position: relative;
    height: 180px;
    box-sizing: border-box;
    background:#f7f7f7 ;
    padding-top: 20px;
    padding-left: 40px;
    ul{
        margin-left: 125px;
        float: left;
        li{
            font:12px/25px "微软雅黑";
            color:#666666;
        }
        li:first-of-type{
            font-weight: bold;
        }
    }
    ul:first-of-type{
        margin-left: 0;
    }
    ul:nth-of-type(5){
        margin-left:165px;
    }
     ul:nth-of-type(6){
        margin-left:165px;
    }
    img{
        position: absolute;
        left:745px;
        top:22px;
    }
    img:last-of-type{
        position: absolute;
        left:985px ;
        top: 22px;
    }
    #chakan{
        position: absolute;
        left: 1095px;
        top:110px;
        width: 80px;
        height: 26px;
        font:14px/26px "微软雅黑";
        color: white;
        border: none;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        background: red;
    }
}
//bottom
#footer{
    position: relative;
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: border-box;
    height: 175px;
    background:#2d2d2d;
    .ul1{
        li{
            float: left;
            padding-top: 0;
            margin-top: 10px;
            padding-right: 15px;
            padding-left: 15px;
            border-right: 1px solid #546654;
            a{
                display: block;
                font:12px/12px "微软雅黑";
                color: white;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        li:first-of-type{
            margin-left: 0;
        }
        li:last-of-type{
            margin-left: 540px;
            border: 0;
        }
        li:nth-of-type(6){
            border: 0;
        }
    }
    .ul2{
        margin-top: 35px;
        clear: both;
        margin-bottom: 35px;
        li{
            float: left;
            margin-top: 20px;
            padding-right: 15px;
            padding-left: 15px;
            border-right: 1px solid #546654;
            a{
                display: block;
                font:12px/12px "微软雅黑";
                color:#999999;
            }
            a:hover{
                text-decoration: underline;
            }
        }
        li:first-of-type{
            margin-left: 0;
        }
    }
    .ul3{
        height: 12px;
        margin-top: 100px;
        padding-left: 14px;
      li{   
            float: left;
            span{
                display: block;
                font:12px/12px "微软雅黑";
                color:#999999;
            }
            a{
                display: block;
                font:12px/12px "微软雅黑";
                color:#999999;
                margin-left: 10px;
                margin-right: 10px;
            }
            a:hover{
                text-decoration: underline;
            }
        }
     } 
    img:first-of-type{
        position: absolute;
        left: 960px;
        top:26px;
    }
    img:nth-of-type(2){
         position: absolute;
        left:1105px;
        top:26px;
    }
    img:last-of-type{
         position: absolute;
        left:1135px;
        top:26px;
    }
    .guanggao{
        position: absolute;
        width: 40px;
        height: 18px;
        left: 1190px;
        top:144px;
        background: #666666;
        p{
            font:14px/18px "微软雅黑";
            text-align: center;
            color: white;
        }
    }
}
//footer
#huakuai{
    position: fixed;
    right: 0;
    top:0;
    height: 800px;
    width: 37px;
    background: #2d2d2d;
    div{
        cursor: pointer;
        position: relative;
        width: 37px;
        height: 37px;
        margin-top: 20px;
        img{
            position: absolute;
            top:0;
            left:0;
        }
        img:last-child{
            display: none;
        }
    }
    div:first-of-type{
        margin-top: 100px;
    }
    div:last-of-type{
        margin-top: 350px;
    }
}
