@charset "UTF-8";
html, body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, input, b {
  margin: 0;
  padding: 0; }

ul, li, ol, dl {
  list-style: none; }

img {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

a {
  color: black; }

/*清除input自带边框*/
#top, #header, #nav, #shouye, #pinpai, #gengduo, #fuwu, #moren, #section, #huodong, #aside, #sousuo, #bottom, #footer {
  width: 1260px;
  margin: 0 auto; }

#top {
  position: relative;
  height: 30px;
  background: #f5f5f5; }
  #top .oul li {
    float: left;
    margin-left: 30px; }
    #top .oul li span {
      color: blue;
      font: 12px/30px "微软雅黑"; }
    #top .oul li em {
      font: 12px/30px "微软雅黑"; }
    #top .oul li a {
      font: 12px/30px "微软雅黑"; }
    #top .oul li span:hover {
      color: #CC0000; }
    #top .oul li a:hover {
      text-decoration: underline;
      color: #CC0000; }
  #top ul li:nth-of-type(4) {
    margin-left: 310px; }
  #top ul li:nth-of-type(7) {
    margin-right: 30px; }
  #top ul li:nth-of-type(5) {
    position: relative; }
    #top ul li:nth-of-type(5) .maijia {
      z-index: 2;
      display: none;
      position: absolute; }
      #top ul li:nth-of-type(5) .maijia li {
        float: none;
        margin-left: 0;
        width: 80px;
        font: 12px/20px "微软雅黑";
        cursor: pointer; }
        #top ul li:nth-of-type(5) .maijia li a {
          font: 12px/20px "微软雅黑"; }
  #top .oul li:nth-of-type(5):hover .maijia {
    display: block;
    color: #CC0000; }
  #top .shouji {
    position: absolute;
    left: 985px;
    top: 7px; }
  #top .gang {
    position: absolute;
    left: 960px;
    top: 10px; }
  #top .shangcheng {
    position: absolute;
    left: 967px;
    top: 30px;
    z-index: 2;
    display: none; }
  #top .dianhua {
    position: absolute;
    left: 1150px;
    top: 29px;
    display: none;
    z-index: 2; }
  #top ul .list:hover .shangcheng {
    display: block; }
  #top ul .list2:hover .dianhua {
    display: block; }

#header {
  position: relative;
  height: 110px; }
  #header img {
    position: absolute;
    left: 40px;
    top: 0; }

#nav {
  position: relative;
  padding-left: 40px;
  box-sizing: border-box;
  background: #fafafa;
  height: 67px; }
  #nav img {
    position: absolute;
    left: 1080px;
    top: 38px; }
  #nav p a {
    font: 18px/20px "微软雅黑";
    margin-left: 80px; }
  #nav p a:first-child {
    margin-left: 300px; }
  #nav p a:last-of-type {
    color: crimson; }
  #nav ul {
    padding-left: 300px; }
    #nav ul li {
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 10px;
      border-right: 1px solid #CECECE; }
      #nav ul li a {
        font: 14px/14px "微软雅黑"; }
    #nav ul .list a {
      color: red; }
    #nav ul a:hover {
      color: chocolate;
      text-decoration: underline; }

#shouye {
  height: 67px;
  padding-left: 40px;
  box-sizing: border-box; }
  #shouye ul {
    margin-top: 20px; }
    #shouye ul li {
      margin-left: 20px;
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid #CECECE; }
      #shouye ul li a {
        font: 14px/26px "微软雅黑"; }

#pinpai {
  padding-left: 40px;
  box-sizing: border-box;
  height: 115px; }
  #pinpai span {
    margin-left: 50px;
    font: 14px/40px "微软雅黑"; }
  #pinpai a {
    font: 14px/40px "微软雅黑";
    margin-left: 30px; }
  #pinpai a:hover {
    color: chocolate;
    text-decoration: underline; }

#gengduo {
  height: 27px; }
  #gengduo p {
    width: 120px;
    height: 27px;
    background: #CECECE;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    font: 16px/27px "微软雅黑"; }

#fuwu {
  position: relative;
  padding-left: 40px;
  box-sizing: border-box;
  height: 68px;
  padding-top: 25px; }
  #fuwu p {
    font: 16px/45px "微软雅黑";
    text-indent: 35px; }
  #fuwu a {
    position: absolute;
    left: 200px;
    top: 35px; }

#moren {
  background: #f7f7f7;
  height: 40px;
  padding-left: 40px;
  box-sizing: border-box; }
  #moren ul li {
    padding-left: 15px;
    padding-right: 15px;
    float: left; }
    #moren ul li a {
      font: 12px/40px "微软雅黑"; }
    #moren ul li a:hover {
      color: chocolate;
      text-decoration: underline; }
    #moren ul li input {
      margin-top: 13px;
      width: 50px;
      border: 1px solid #CECECE; }

#section {
  height: 825px; }
  #section .shujuhe1 {
    float: left;
    width: 235px;
    height: 47%;
    cursor: pointer; }
    #section .shujuhe1 .top {
      padding-top: 30px;
      width: 100%;
      height: 240px;
      box-sizing: border-box; }
      #section .shujuhe1 .top img {
        display: block;
        margin: auto; }
    #section .shujuhe1 .bottom {
      padding-left: 20px;
      box-sizing: border-box; }
      #section .shujuhe1 .bottom p:nth-of-type(1) {
        font: 14px/20px "微软雅黑";
        margin-top: 15px; }
      #section .shujuhe1 .bottom p:nth-of-type(2) {
        font: 20px/30px "微软雅黑";
        color: red; }
      #section .shujuhe1 .bottom p:last-of-type {
        margin-top: 10px;
        font: 12px/20px "微软雅黑";
        color: black; }

#huodong {
  height: 100px;
  padding-top: 50px;
  box-sizing: border-box; }
  #huodong p {
    font: 18px/40px "微软雅黑";
    text-align: center; }

#aside {
  height: 215px;
  padding-left: 40px;
  box-sizing: border-box; }
  #aside div {
    cursor: pointer;
    height: 100%;
    float: left;
    width: 22%;
    margin-left: 10px;
    background: url(../img/zhineng.jpg); }
  #aside .box2 {
    background: url(../img/huodong2.jpg); }
  #aside .box3 {
    background: url(../img/huodong3.jpg); }
  #aside .box4 {
    background: url(../img/huodong4.jpg); }

#sousuo {
  padding-top: 50px;
  padding-left: 300px;
  box-sizing: border-box;
  height: 135px; }
  #sousuo input {
    margin-left: 70px;
    box-sizing: border-box;
    width: 463px;
    height: 36px;
    border: 2px solid red;
    font: 14px/36px "微软雅黑";
    color: #CECECE;
    border-right: 0; }
  #sousuo input:last-child {
    height: 36px;
    width: 77px;
    background: red;
    font: 14px/36px "微软雅黑";
    color: white;
    border: 0;
    margin-left: 0;
    cursor: pointer; }

#bottom {
  position: relative;
  height: 180px;
  box-sizing: border-box;
  background: #f7f7f7;
  padding-top: 20px;
  padding-left: 40px; }
  #bottom ul {
    margin-left: 125px;
    float: left; }
    #bottom ul li {
      font: 12px/25px "微软雅黑";
      color: #666666; }
    #bottom ul li:first-of-type {
      font-weight: bold; }
  #bottom ul:first-of-type {
    margin-left: 0; }
  #bottom ul:nth-of-type(5) {
    margin-left: 165px; }
  #bottom ul:nth-of-type(6) {
    margin-left: 165px; }
  #bottom img {
    position: absolute;
    left: 745px;
    top: 22px; }
  #bottom img:last-of-type {
    position: absolute;
    left: 985px;
    top: 22px; }
  #bottom #chakan {
    position: absolute;
    left: 1095px;
    top: 110px;
    width: 80px;
    height: 26px;
    font: 14px/26px "微软雅黑";
    color: white;
    border: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background: red; }

#footer {
  position: relative;
  padding-left: 40px;
  padding-top: 20px;
  box-sizing: border-box;
  height: 175px;
  background: #2d2d2d; }
  #footer .ul1 li {
    float: left;
    padding-top: 0;
    margin-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid #546654; }
    #footer .ul1 li a {
      display: block;
      font: 12px/12px "微软雅黑";
      color: white; }
    #footer .ul1 li a:hover {
      text-decoration: underline; }
  #footer .ul1 li:first-of-type {
    margin-left: 0; }
  #footer .ul1 li:last-of-type {
    margin-left: 540px;
    border: 0; }
  #footer .ul1 li:nth-of-type(6) {
    border: 0; }
  #footer .ul2 {
    margin-top: 35px;
    clear: both;
    margin-bottom: 35px; }
    #footer .ul2 li {
      float: left;
      margin-top: 20px;
      padding-right: 15px;
      padding-left: 15px;
      border-right: 1px solid #546654; }
      #footer .ul2 li a {
        display: block;
        font: 12px/12px "微软雅黑";
        color: #999999; }
      #footer .ul2 li a:hover {
        text-decoration: underline; }
    #footer .ul2 li:first-of-type {
      margin-left: 0; }
  #footer .ul3 {
    height: 12px;
    margin-top: 100px;
    padding-left: 14px; }
    #footer .ul3 li {
      float: left; }
      #footer .ul3 li span {
        display: block;
        font: 12px/12px "微软雅黑";
        color: #999999; }
      #footer .ul3 li a {
        display: block;
        font: 12px/12px "微软雅黑";
        color: #999999;
        margin-left: 10px;
        margin-right: 10px; }
      #footer .ul3 li a:hover {
        text-decoration: underline; }
  #footer img:first-of-type {
    position: absolute;
    left: 960px;
    top: 26px; }
  #footer img:nth-of-type(2) {
    position: absolute;
    left: 1105px;
    top: 26px; }
  #footer img:last-of-type {
    position: absolute;
    left: 1135px;
    top: 26px; }
  #footer .guanggao {
    position: absolute;
    width: 40px;
    height: 18px;
    left: 1190px;
    top: 144px;
    background: #666666; }
    #footer .guanggao p {
      font: 14px/18px "微软雅黑";
      text-align: center;
      color: white; }

#huakuai {
  position: fixed;
  right: 0;
  top: 0;
  height: 800px;
  width: 37px;
  background: #2d2d2d; }
  #huakuai div {
    cursor: pointer;
    position: relative;
    width: 37px;
    height: 37px;
    margin-top: 20px; }
    #huakuai div img {
      position: absolute;
      top: 0;
      left: 0; }
    #huakuai div img:last-child {
      display: none; }
  #huakuai div:first-of-type {
    margin-top: 100px; }
  #huakuai div:last-of-type {
    margin-top: 350px; }

/*# sourceMappingURL=liebiao.css.map */
