@charset "utf-8";
html,body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,input,b{margin:0; padding:0;}
ul,li,ol,dl{list-style:none;}
img{border:0;}
img{display:block;}
a{text-decoration:none;}
i,em{font-style: normal;}
b,strong{font-weight:normal;}
body{font-family:"微软雅黑";}
input,a{outline:none;}/*清除input自带边框*/  
#header,#nav,#section{
    width: 980px;
    margin: 0 auto;
}
#header{
    height: 100px;
    background: url(../img/zhucelogo.jpg) no-repeat 0 0;
}
#header a{
    float: left;
    color: firebrick;
}
#header p{
    float: left;
    font:14px/14px "微软雅黑";
    margin-left: 480px;
    margin-top: 31px;
    span{
        float: left;
    }
}
#header span:last-child{
    height: 14px;
    color:#cc0000;
}
#header span:hover a{
    display: block;
    color: white;
    background: firebrick;
}

#section{
    position: relative;
    margin-bottom: 50px;
    border: 1px solid #CECECE;
    height: 810px;
    .nav{
    height: 60px;
    background:#fafafa;
    p{
        font:18px/60px "微软雅黑";
        text-indent: 90px;
    }
}
}
#section .left{
    .yanshouji{
        position: absolute;
        left:465px;
        top:145px;
        display: none;
    }
    .yanmima{
        position: absolute;
        left:465px;
        top:388px;
        display: none;
    }
    .yanmima2{
        position: absolute;
        left:465px;
        top:465px;
        display: none;
    }
    float: left;
    width: 60%;
    height: 750px;
    background: url(../img/yanzheng.jpg) no-repeat 353px 164px;
    padding-left: 85px;
    padding-top: 30px;
    box-sizing: border-box;
    .mima{
        margin-right: 16px;
    }
    em{
        margin-left: 125px;
        font:14px/38px "微软雅黑";
        color: blue;
    }
    input{
        width: 288px;
        height: 38px;
        border: 1px solid #cecece;
        margin-top: 15px;
        margin-left: 16px;
    }
    input:nth-of-type(2){
         width: 170px;
    }
    input:nth-of-type(3){
         width: 170px;
    }
    input:nth-of-type(5){
        margin-left: 0px;
    }
    #yanzheng{
        width: 98px;
        margin: 0;
        background: url(../img/yanzheng.jpg);
    }
    .blue{
        color: blue;
    }
    p{
        text-indent:77px ;
        font:10px/20px "微软雅黑";
        color: #CECECE;
        margin-top: 5px;
    }
    .last{
        margin-bottom: 25px;
    }
    #rad{
        width: 12px;
        height: 12px;
        margin: 0;
        margin-left: 83px;
    }
   .foot{
        font:10px/10px "微软雅黑";
        a:hover{
            color: darkred;
            text-decoration: underline;
        }
    }
    #btn{
        width: 290px;
        height: 40px;
        background: red;
        font:16px/40px "微软雅黑";
        color:white;
        text-align: center;
        margin-left: 70px;
        border-radius: 5px;
        cursor: pointer;
    }
}
#section .right{
    float: left;
    width: 40%;
    height: 750px;
    background: white;
    padding-top: 25px;
    padding-left: 105px;
    box-sizing: border-box;
    p{
        font:12px/30px "微软雅黑";
    }
    a:hover{
        color: indianred;
        text-decoration: underline;
    }
    img{
        cursor: pointer;
        margin-top: 20px;
    }
}
#footer{
    width: 1260px;
    height: 56px;
    margin:0 auto;
    border-top: 1px solid #CECECE;
    ul{
        margin-top: 18px;
        li{
            float: left;
            border-right: 1px solid #CECECE;
            a{
                color: black;
                font:12px/12px "微软雅黑";
                display: block;
                margin-right: 12px;
                margin-left: 12px;
            }
            a:hover{
                color: indianred;
                text-decoration: underline;
            }
            span{
                 display: block;
                 font:12px/12px "微软雅黑";
            }
        }
        li:first-of-type{
            margin-left: 125px;
        }
        li:nth-of-type(3){
            border: none;
            margin-right: 620px;
        }
        li:last-of-type{
            border: none;
        }
    }
}
