@charset "UTF-8";
html, body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend, input, b {
  margin: 0;
  padding: 0; }

ul, li, ol, dl {
  list-style: none; }

img {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

body {
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

/*清除input自带边框*/
#header, #nav, #section {
  width: 980px;
  margin: 0 auto; }

#header {
  height: 100px;
  background: url(../img/zhucelogo.jpg) no-repeat 0 0; }

#header a {
  float: left;
  color: firebrick; }

#header p {
  float: left;
  font: 14px/14px "微软雅黑";
  margin-left: 480px;
  margin-top: 31px; }
  #header p span {
    float: left; }

#header span:last-child {
  height: 14px;
  color: #cc0000; }

#header span:hover a {
  display: block;
  color: white;
  background: firebrick; }

#section {
  position: relative;
  margin-bottom: 50px;
  border: 1px solid #CECECE;
  height: 810px; }
  #section .nav {
    height: 60px;
    background: #fafafa; }
    #section .nav p {
      font: 18px/60px "微软雅黑";
      text-indent: 90px; }

#section .left {
  float: left;
  width: 60%;
  height: 750px;
  background: url(../img/yanzheng.jpg) no-repeat 353px 164px;
  padding-left: 85px;
  padding-top: 30px;
  box-sizing: border-box; }
  #section .left .yanshouji {
    position: absolute;
    left: 465px;
    top: 145px;
    display: none; }
  #section .left .yanmima {
    position: absolute;
    left: 465px;
    top: 388px;
    display: none; }
  #section .left .yanmima2 {
    position: absolute;
    left: 465px;
    top: 465px;
    display: none; }
  #section .left .mima {
    margin-right: 16px; }
  #section .left em {
    margin-left: 125px;
    font: 14px/38px "微软雅黑";
    color: blue; }
  #section .left input {
    width: 288px;
    height: 38px;
    border: 1px solid #cecece;
    margin-top: 15px;
    margin-left: 16px; }
  #section .left input:nth-of-type(2) {
    width: 170px; }
  #section .left input:nth-of-type(3) {
    width: 170px; }
  #section .left input:nth-of-type(5) {
    margin-left: 0px; }
  #section .left #yanzheng {
    width: 98px;
    margin: 0;
    background: url(../img/yanzheng.jpg); }
  #section .left .blue {
    color: blue; }
  #section .left p {
    text-indent: 77px;
    font: 10px/20px "微软雅黑";
    color: #CECECE;
    margin-top: 5px; }
  #section .left .last {
    margin-bottom: 25px; }
  #section .left #rad {
    width: 12px;
    height: 12px;
    margin: 0;
    margin-left: 83px; }
  #section .left .foot {
    font: 10px/10px "微软雅黑"; }
    #section .left .foot a:hover {
      color: darkred;
      text-decoration: underline; }
  #section .left #btn {
    width: 290px;
    height: 40px;
    background: red;
    font: 16px/40px "微软雅黑";
    color: white;
    text-align: center;
    margin-left: 70px;
    border-radius: 5px;
    cursor: pointer; }

#section .right {
  float: left;
  width: 40%;
  height: 750px;
  background: white;
  padding-top: 25px;
  padding-left: 105px;
  box-sizing: border-box; }
  #section .right p {
    font: 12px/30px "微软雅黑"; }
  #section .right a:hover {
    color: indianred;
    text-decoration: underline; }
  #section .right img {
    cursor: pointer;
    margin-top: 20px; }

#footer {
  width: 1260px;
  height: 56px;
  margin: 0 auto;
  border-top: 1px solid #CECECE; }
  #footer ul {
    margin-top: 18px; }
    #footer ul li {
      float: left;
      border-right: 1px solid #CECECE; }
      #footer ul li a {
        color: black;
        font: 12px/12px "微软雅黑";
        display: block;
        margin-right: 12px;
        margin-left: 12px; }
      #footer ul li a:hover {
        color: indianred;
        text-decoration: underline; }
      #footer ul li span {
        display: block;
        font: 12px/12px "微软雅黑"; }
    #footer ul li:first-of-type {
      margin-left: 125px; }
    #footer ul li:nth-of-type(3) {
      border: none;
      margin-right: 620px; }
    #footer ul li:last-of-type {
      border: none; }

/*# sourceMappingURL=zhuce.css.map */
